.signinform{
    width: 400px;
    align-items: center;
    border: 20px ;
    border-color: #27908A;
    border-radius: 20px;
    margin: auto;
    /* padding:100px ; */
    justify-content: center;

}
.signinbtn {
    /* width: 20px; */
    padding: 15px;
    background-color: #39ADA6;
    color: #ffffff;
    margin-top: 50px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10%;

  }
  .signup_form{
    /* width: 480px; */
    box-shadow: 0 0 3px 0 rgba(0 , 0, 0, 2) ;
    border-radius: 16px;
    background-color: white;
    padding: 20px;
    margin: 8% auto ;
    text-align: center;

  }
  .signup_btn {
    padding: 9px 25px;
    background-color: #39ADA6;
    color: #ffffff;
    font-size: medium;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
    margin-top: 20px;

  }
  .signin_btn {
    padding: 9px 25px;
    background-color: #39ADA6;
    color: #ffffff;
    font-size: medium;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
    margin-top: 15px;
  }
  .input_box{

    border-radius: 16px ;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    text-align: center;
    outline:  none ;
  }
  .or{
    background-color: #fff;
    width: 30px;
    margin: -10px auto 10px;
    margin-top: 10px;
  }
  form a{
    text-decoration: none;
  }
  .content img{
    width: 70px;
    align-items: center;
    /* margin-left: 20px; */
  }
  .addevent-form{
    /* width: 700px; */
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 50px;
    justify-content: center;
    /* font-size: 26px; */
  }
  .event_description{
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 50px;
    justify-content: center;
  }
  form input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    box-sizing: border-box;
  }
  form input #event.dis{
    background-color: #ffffff;
  }
  textarea{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
  }
  form input[type=submit] {
    width: 100%;
    background-color: #27908A;
    color: white;
    /* padding: 14px 20px; */
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
.form_button{
    width: 100%;
    background-color: #27908A;
    color: white;
    /* padding: 14px 20px; */
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.danger_button{
    width: 100%;
    background-color: crimson;
    color: white;
    /* padding: 14px 20px; */
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.danger_button:hover,.form_button:hover {
    background-color: #ffffff;
}
  span{
            width: 70%;
            display: inline-block;
            /* overflow: hidden;  */
            padding: 0px 4px 0px 6px;
        }

  .event_date1{

    font-size: 20px;
  color: rgb(37, 126, 120);
  float: left;
  }
  .event_date2{
    font-size: 20px;
  color: rgb(37, 126, 120);
  float: right;
  }
  form input[type=submit]:hover {
    background-color: #ffffff;
  }
 .event_field{
     font-size: 20px;
     color: rgb(37, 126, 120);
     /* float: left; */
     display: inline;

 }
 .event_name1{
   color: darkslategray;
   font-size: medium;
   display: inline;
 }
 .event_filed{
  font-size: 20px;
  color: rgb(37, 126, 120);
  float: left;
 }
 .theEvent{
   display: inline-block;
 }
 .theOrg{
   display: inline-block;
   float: right;
 }
 .org_name2{
  font-size: 20px;
  color: rgb(37, 126, 120);
  float: right;
 }
 .org_name1{
  Color: darkslategray;
  font-size: medium;
  display: inline;
 }
 .event_dis{
    font-size: 20px;
    color: rgb(37, 126, 120);
    display: block;

 }
 .event_date{
     display: inline;
     color: rgb(37, 126, 120);
     font-size: 20px;
 }
 .Volunteernumber{
    color: rgb(37, 126, 120);
     font-size: 20px;
     margin-top: 10px;


 }
 form input[type=number]{
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid rgb(37, 126, 120);;
    border-radius: 8px;
    width: 60px;
 }
 .signup_form{
    width: 330px;
    box-shadow: 0 0 3px 0 rgba(0 , 0, 0, 2) ;
    border-radius: 16px;
    background-color: white;
    padding: 20px;
    margin: 8% auto ;
    text-align: center;

  }
  .signup_btn {
    padding: 9px 25px;
    background-color: #39ADA6;
    color: #ffffff;
    font-size: medium;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
    margin-top: 15px;

  }

  form .signupform{
    border: #39ADA6 2px ;
    background-color: #ffffff;
  }

  label .des_field{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #f2f2f2;
    display: inline-block;
    color: darkslategray;
    /* border: 1px solid #27908A; */
    border-radius: 2px;
    box-sizing: border-box;
    font-size: large;

  }

  .input_num{
    color: #27908A;
  }
  .date1{
    display: inline-block;

  }
  .date2{
    display: inline-block;
    float: right;
  }
  .st_date{
    Color: darkslategray;
    font-size: medium;
    display: inline;
  }
  .ed_date{
    Color: darkslategray;
    font-size: medium;
    display: inline;
  }
  .volunteer_n{
    Color: darkslategray;
    font-size: medium;
    display: inline;
  }

  .Participants_list ul{
    display: list-item  ;
    list-style-type:rgb(37, 126, 120) ;
      /* padding: 1px; */
      margin: 3px ;
    }
    
    .Participants_list ul li {
      /* list-style-type: decimal; */
      border: 1px solid #ddd;
      margin-top: 0; /* Prevent double borders */
      background-color: white;
      padding: 8px;
      color: darkslategray ;
      display:inline-flex ;
      width: 1000px;
      font-size: larger;
      font-weight: bold;

      
      /* margin-left: 200px; */
      /* justify-content: center; */
      
    }
    .Participants_list ul li p{
      color: rgb(37, 126, 120);
      
      font-weight: bold;
      font-size:  large;
    }
   
    #vol_numbers{
      padding-left: 360px;
    }
    